<%= render 'partial/navbar' %>

<!-- サマリー -->
<div class="container-fluid container-listing-show">
    <div class="container">
            <div class="row">
                <div class="listing-title" style="font-size:24px;">
                    <%= @funspot.name %></p>
                </div>
            <div class="col-md-6">
                <div class="row row-space-top-4">
                    <p> 管理者： <%= @funspot.user.name %></p>
                </div>
                <div class="row">
                    <p> 住所： <%= @funspot.address %></p>
                </div>
                <div class="row">
                    <p> 電話番号： <%= @funspot.phone_number %></p>
                </div>
                <div class="row">
                    <p> メールアドレス：<%= @funspot.email %></p>
                </div>
                <div class="row">
                    <p> ホームページ：<%= @funspot.website %></p>
                </div>
                <div class="row">
                    <h3 class="row-space-3">このFunSpotについて</h3>
                    <p><%= @funspot.content %></p>
                </div>
                <div class="row">
                    <h3 class="row-space-3">アクセス</h3>
                    <div id="map"></div>
                </div>  
            </div>
        </div>
    </div>
</div>


<style>
    /* Set the size of the div element that contains the map */
    #map {
    height: 350px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    }
</style>


<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: <%= @funspot.latitude %>, lng:<%= @funspot.longitude %>};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 14, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7uMRd6myPnerdHP6mwi2p3M1vIXqw0Wo&callback=initMap" async defer></script>
